h1 {
	color:white;
	background:black;
	padding:1cm;
	text-align:center;}
h2 {
	font-weight: bold;
	color:red;
	background: black;
	padding: 0.5cm;
	margin: 5px 0 15px 0;
	text-align: center;}
li {
	line-height: 50px;
	text-align: center;
	float: center;}
table {
	background: red;
	color:blue;}
body {background:pink; }
img {float: center}
blockquote cite {font-variant: small-caps;}
form {float: left;}
.btn {font-size: 15px;}