h1 {
	color:white;
	background:black;
	padding:1cm;
	text-align:center;}
h2 {
	font-weight: bold;
	color:red;
	background: pink;
	padding: 0.5cm;
	margin: 5px 0 15px 0;
	text-align: center;}
ul {
	float: right;
	text-align: justify;
	margin: 0 900px 0 0;}
li {line-height: 50px;}
table {
	background: red;
	color:blue;}
blockquote cite {font-variant: small-caps;}